    <!-- header -->
  <header style="background-color:grey">
    <div class="container">
      <div style="height:150px" class="d-flex align-items-center">
        <span style="color:white">"우리 함께 여가를 즐겨 볼까요?"
        </span>
      </div>
    </div>
  </header>
  <body>

  <!-- 우리 함께 여가를 즐겨볼까요?-->
  
    

  <div class="container">
      <div class="row justify-content-center">
        <div class="p-5"><p><strong>"당신의 소모임을 남겨주세요"</strong></p></div>
      </div>
        <!-- 표 추가 -->
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Content</th></th> 
          </tr>
        </thead>
          <% @loves.each do |love| %> 
        <tbody>
          <tr>
            <th scope="row"><%= link_to love.id, love %></th>
            <td><%= link_to love.title, love %></td>
            <td><%= link_to love.content, love %></td>
          </tr>    
        </tbody>
        <% end %>
      </table>
    </div>  
    <button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "게시판에 글 남기기", new_lofe_path %></button>
    </div>
  
  
  
  