   <!-- header -->
  <header style="background-color:grey">
    <div class="container">
      <div style="height:150px" class="d-flex align-items-center">
        <span style="color:white"><h2>소모임을 등록해주세요</h2>   
        </span>
      </div>
    </div>
  </header>
  <body>
     
  <div class="container">
      <div class="row justify-content-center">
        <div class="p-5"><p><strong>"당신의 소모임을 남겨주세요"</strong></p></div>
      </div>
      
      <%= render 'form' %>
    <button type="button" class="btn btn-secondary btn-lg"><%= link_to "Home", root_path %></button>
    <button type="button" class="btn btn-secondary btn-lg"><%= link_to "Back", loves_path %></button>
  </div>
        
      
    