  <!-- header -->
  <header style="background-color:grey">
    <div class="container">
      <div style="height:150px" class="d-flex align-items-center">
        <span style="color:white">food
        </span>
      </div>
    </div>
  </header>
  <body>

  <!--스포츠-->

  <div class="container">
      <div class="row justify-content-center">
        <div class="p-5"><p><strong>"어떤 혼밥을 할까?"</strong></p></div>
      </div>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>종목</th>
          <th>식당 이름</th>
          <th>특징</th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>한식</td></td>
          <td><a href="https://www.bibigo.co.kr:7012/KOR/index.asp">강남역 비비고</a></td>
          <td>빠르게 눈치 안 보고 후딱 비비고</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>일식</td>
          <td><a href="http://www.ddon.kr/">안양일번가 돈돈정</a></td>
          <td>돈돈정에서 먹으면 든든하정</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>양식</td>
          <td><a href="http://www.ontheblack.co.kr/home/index.php">수원지구 온더블랙</a></td>
          <td>스테이크가 새카맣게 타서 온더블랙</td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- 산책 -->
   <div class="container">
      <div class="row justify-content-center">
        <div class="p-5"><p><strong>"어떤 혼디를 할까?"</strong></p></div>
      </div>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>종목</th>
          <th>식당 이름</th>
          <th>특징</th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>쿠키</td></td>
          <td><a href="http://blog.naver.com/thdgidtn1008/220991465426">홍대 르뿌띠푸</a></td>
          <td>먹고 뿌띠뿌띠</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>빵</td>
          <td><a href="http://alswhddlgud9.blog.me/220914952095">창원 메종드르뱅</a></td>
          <td>드르렁 드르렁</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>커피</td>
          <td><a href="http://blog.naver.com/yuribana?Redirect=Log&logNo=220998251170">부평 아느칸카페</a></td>
          <td>아늑한 아느칸</td>
        </tr>
      </tbody>
    </table>
  </div>


<!-- 책 -->
  <div class="container">
      <div class="row justify-content-center">
        <div class="p-5"><p><strong>"어떤 혼술을 할까?"</strong></p></div>
      </div>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>종목</th>
          <th>술집 이름</th>
          <th>특징</th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>맥주</td></td>
          <td><a href="http://blog.naver.com/applemint75/220906993872">이태원 맥파이</a></td>
          <td>피자의 원주율 파이</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>칵테일</td>
          <td><a href="http://alswhddlgud9.blog.me/220914952095">혜화 우리의 밤</a></td>
          <td>우리 밤</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>소주</td>
          <td><a href="http://blog.naver.com/yoogangjo80/220772479363">김씨네 붴</a></td>
          <td>부엌 붜엌 붴</td>
        </tr>
      </tbody>
    </table>
  </div>

  </div>