<div class="container", style: "margin_left:0px">
    <div class="row">
        <div class="col-md-6"><%= image_tag("http://fimg3.pann.com/new/download.jsp?FileID=33541179", style: "height:500px ; width:500px")%>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-5"><%= image_tag("http://img.sbs.co.kr/newsnet/etv/upload/2013/12/12/30000340522_700.jpg", style: "height:500px ; width:500px")%>
    </div>      
</div>