
    <!-- header -->
  <header style="background-color:grey">
    <div class="container">
      <div style="height:150px" class="d-flex align-items-center">
        <span style="color:white">"봄인데 밖으로 나가볼까요?"
        </span>
      </div>
    </div>
  </header>
  <body>

  <!--스포츠-->

  <div class="container">
      <div class="row justify-content-center">
        <div class="p-5"><p><strong>"어떤 스포츠에 가입해볼까?"</strong></p></div>
      </div>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>스포츠</th>
          <th>관련 카페</th>
          <th>비고</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>테니스</td>
          <td><a href="http://cafe437.daum.net/_c21_/home?grpid=1Lcqn">건국대학교 테니스 오버</a></td>
          <td>누가 운영하는지는 모름</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>야구</td>
          <td><a href="http://club.cyworld.com/excaliburs">건국대학교 야구소모임</a></td>
          <td>이름은 엑스칼리버다</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>수영</td>
          <td><a href="http://gumin.gwangjin.or.kr/">광진구 체육센터</a></td>
          <td>건국대학교 수영부는 없는 것 같다</td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- 산책 -->
  <div class="container">
      <div class="row justify-content-center">
        <div class="p-5"><p><strong>"어디를 산책해볼까?"</strong></p></div>
      </div>
  </div>
  <div class="container" >
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>장소 이름</th>
          <th>위치</th>
          <th>비고</th>
          <th>지도보기</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>보라매공원</td>
          <td>동작구</td>
          <td>선홍이네 집이랑 가깝다</td>
          <td><a href="https://image-proxy.namuwikiusercontent.com/r/http%3A%2F%2Fparks.seoul.go.kr%2Ftemplate%2Fcommon%2Fimg%2Fpark_info%2F36_boramae%2Fboramae_guide.jpg">
              검색</a></td>
          
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>건대호수</td>
          <td>건대</td>
          <td>연인들이 많다</td>
          <td><a href="https://ncache.ilbe.com/files/attach/new/20131213/377678/1774663264/2541709249/f554c1bb44d5bd55e3cf39d3d17257bc.png">검색</a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>여의도 공원</td>
          <td>여의도</td>
          <td>엄청 크다</td>
          <td><a href="http://blog.joins.com/usr/s/u/sungjooc/40/SCd070417-1011(1).JPG">검색</a></td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- 책 -->
<div class="container">
      <div class="row justify-content-center">
        <div class="p-5"><p><strong>"어떤 책을 읽어볼까?"</strong></p></div>
      </div>
  </div>
  <div class="container" >
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>책 이름 </th>
          <th>저자</th>
          <th>책 검색하기</th>
          <th>추천하는 이유</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>어젯밤 카레, 내일의 빵</td>
          <td>기자라 아즈미</td>
          <td><a href="http://book.naver.com/bookdb/book_detail.nhn?bid=7620121">검색</a></td>
          <td>소소한 재미를 느낄 수 있음</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>재회</td>
          <td>시게마츠 기요시</td>
          <td><a href="http://book.naver.com/bookdb/book_detail.nhn?bid=6632556">검색</a></td>
          <td>재회의 기분 좋음을 느낄 수 있음</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>열한 계단</td>
          <td>채사장</td>
          <td><a href="http://book.naver.com/bookdb/book_detail.nhn?bid=11343683">검색</a></td>
          <td>인생을 여행하는 가장 괜찮은 방법을 알려줌</td>
        </tr>
      </tbody>
    </table>
  </div>